.ripple-button {
    border-radius: 30px;
    border: 1px solid;
    margin: 8px;
    padding: 5px 20px;
    background: #cdcdcd;
    color: #151515;
    border-color: #cdcdcd;
    overflow: hidden;
    position: relative;
    gap: 10px;
  }

.ripple-button:hover{
    background-color: #cdcdcd;
    border-color: #acacac;
}
  
  .ripple-button > .ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #cdcdcd;
    display: block;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 0.9s ease 1 forwards ripple-effect;
  }
  
  @keyframes ripple-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(10);
      opacity: 0.375;
    }
    100% {
      transform: scale(35);
      opacity: 0;
    }
  }
  
  