.button {
    position: relative;
    font-weight: 500;
}
.button-bordersmall {
    text-decoration: none;
    position: absolute;
    top: 245px;
    left: 76px;
    border-radius: var(--br-11xl);
    display: flex;
    flex-direction: row;
    padding: var(--padding-8xs) var(--padding-xl);
    align-items: center;
    justify-content: center;
    color: inherit;
}
.button1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
}
.button-bordersmall1 {
    border: 0;
    background-color: transparent;
    top: 203px;
}
.button-bordersmall1,
.button-bordersmall2,
.button-bordersmall3 {
    cursor: pointer;
    padding: var(--padding-8xs) var(--padding-xl);
    position: absolute;
    left: 76px;
    border-radius: var(--br-11xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-bordersmall2 {
    border: 0;
    background-color: var(--color-gray-500);
    top: 153px;
}
.button-bordersmall3 {
    border: 1px solid var(--color-gainsboro-100);
    background-color: transparent;
    top: 101px;
}
.button4 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-gray-200);
    text-align: left;
}
.button-primarysmall {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-xl);
    background-color: var(--color-white);
    position: absolute;
    top: 47px;
    left: 76px;
    border-radius: var(--br-11xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button5 {
    position: relative;
    text-decoration: underline;
    font-weight: 500;
}
.button-bordersmall4,
.button-bordersmall5,
.button-bordersmall6,
.button-bordersmall7,
.button-primarysmall1 {
    padding: var(--padding-8xs) var(--padding-xl);
    position: absolute;
    left: 187px;
    border-radius: var(--br-11xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-bordersmall4 {
    text-decoration: none;
    top: 245px;
    color: inherit;
}
.button-bordersmall5,
.button-bordersmall6,
.button-bordersmall7,
.button-primarysmall1 {
    cursor: pointer;
    background-color: var(--color-gray-500);
}
.button-bordersmall5 {
    border: 0;
    top: 203px;
}
.button-bordersmall6,
.button-bordersmall7,
.button-primarysmall1 {
    border: 2px solid var(--color-gray-500);
    top: 151px;
}
.button-bordersmall7,
.button-primarysmall1 {
    border: 1px solid var(--color-gainsboro-100);
    top: 101px;
}
.button-primarysmall1 {
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-lightgray);
    top: 47px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button-bordersmall10,
.button-bordersmall8,
.button-bordersmall9 {
    padding: var(--padding-8xs) var(--padding-xl);
    left: 298px;
    border-radius: var(--br-11xl);
}
.button-bordersmall8 {
    text-decoration: none;
    position: absolute;
    top: 245px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: inherit;
}
.button-bordersmall10,
.button-bordersmall9 {
    cursor: pointer;
    border: 0;
}
.button-bordersmall9 {
    background-color: transparent;
    position: absolute;
    top: 203px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-bordersmall10 {
    background-color: var(--color-gray-500);
    top: 151px;
}
.button-bordersmall10,
.button-bordersmall11,
.button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-bordersmall11 {
    cursor: pointer;
    border: 1px solid var(--color-gainsboro-100);
    padding: var(--padding-8xs) var(--padding-xl);
    background-color: transparent;
    top: 101px;
    left: 298px;
    border-radius: var(--br-11xl);
}
.button-wrapper {
    top: 5px;
    left: 20px;
}
.button-primarysmall-child {
    position: absolute;
    top: 0;
    left: 54px;
    border-radius: 50%;
    background-color: var(--color-gray-600);
    width: 50px;
    height: 50px;
}
.button-primarysmall2 {
    position: absolute;
    top: 47px;
    left: 298px;
    border-radius: var(--br-11xl);
    background-color: var(--color-lightgray);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 79px;
    height: 25px;
    overflow: hidden;
    color: var(--color-gray-200);
}
.default,
.hover,
.onclick {
    position: absolute;
    top: 18px;
    left: 89px;
    font-weight: 500;
}
.hover,
.onclick {
    top: 20px;
    left: 200px;
}
.onclick {
    top: 25px;
    left: 312px;
}
.buttons {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 321px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-inter);
}
